<% include partials/headerloggedin %>
        
<section class="hero">
  <div class="hero-body">
    <div class="container">
    <div class="text">
      <h1 class="title">
        Welcome to bloggort
      </h1>
      <h2 class="subtitle">
        <a class="subtitle" href="/blogs/new">START WRITING</a>
      </h2>
      </div>
    </div>
  </div>

</section>

<% include partials/footer %>
