<% include partials/header %>
        
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="text">
        <h1 class="title">
          Welcome to bloggort
        </h1>
        <h2 class="subtitle">
          <a class="subtitle" href="/signin">SIGN IN </a> | <a class="subtitle" href="/signup"> SIGN UP</a>
        </h2>
      </div>
    </div>
  </div>

</section>

<% include partials/footer %>
