<% include partials/header %>
        
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to bloggort
      </h1>
      <h2 class="subtitle">
        <a class="subtitle" href="#">SIGN IN </a> | <a class="subtitle" href="/signup"> SIGN UP</a>
      </h2>
    </div>
  </div>
</section>

<% include partials/footer %>
