<% include partials/header %> 

<div class="formedits">
<p class="textcentered" > Oops! </p>
<div class="textcentered">
    <iframe src="https://giphy.com/embed/VwoJkTfZAUBSU" width="332" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>

<% include partials/footer%>