<% include partials/header %>

<div class="formedits">
  <form action='/signup' method="POST" encType="multipart/form-data">
    <p> Sign up and start blogging!</p>

      <div class="field">
        <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" name="firstName" required>
          </div>
      </div>

      <div class="field">
        <label class="label">
          Last Name
        </label>
        <div class="control">
            <input class="input" type="text" name="lastName">
          </div>
      </div>

      <div class="field">
        <label class="label">
          Profile Picture
        </label>
        <div class="control">
          <div class="file has-name">
            <label class="file-label">
              <input id="file" class="file-input" type="file" name="profilepic">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <label for="file"><span id="filename">Choose File...</span></label>
                </span>
              </span>
             
            </label>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">
          Username
        </label>
        <div class="control">
          <input id="targetusername" class="input" type="text" name="userName">
          <p id="message"><%= warningname %></p>
        </div>
      </div>

      <div class="field">
        <label class="label">
          Password
        </label>
        <div class="control">
          <input id="targetpassword" class="input" type="password" name="passWord" minlength="8">
          <p class="passwordmessage" id="querymessage">Password must be eight characters or longer</p>
        </div>
      </div>

      <div class="field">
        <label class="label">
          Confirm Password
        </label>
        <div class="control">
          <input id="targetconfirm" class="input" type="password" name="confirm" minlength="8">
          <p class="passmessage" id="querymessage"></p>
          <p id="passwarning"><%= warningpassword %></p>
        </div>
      </div>
      
      <div class="control">
          <button class="button is-link">
            Submit
          </button>
      </div>
      
      <p id="donthave"> Already have an account? <a href="/signin">Sign in!</a></p>
  
  </form>
</div>

<script>
//length of username
$("#targetpassword").keyup(function () {
	passlength = $(this).val()
  if (passlength.length < 8 ) {
    $(".passwordmessage").html(`${8 - passlength.length} to go!`) 
    $(".passwordmessage").css("color", "red")  
  } else if (passlength.length >=8) {
    $(".passwordmessage").html(`Password is long enough`) 
    $(".passwordmessage").css("color", "rgba(64, 38, 36, 0.6)")     
    }  
  })

//matching passwords
$("#targetpassword").keyup(function () {
	password = $(this).val();
  $("#passwarning").html(``)
  console.log(`this is ${password}`)
  $("#targetconfirm").keyup(function () {
    confirm = $("#targetconfirm").val();
     console.log(`this is mpt ${confirm}`)
    if (password === confirm) {
      $(".passmessage").html(`Passwords match`)
      $(".passmessage").css("color", "rgba(64, 38, 36, 0.6)")
    }
    else if (password !== confirm) {
      $(".passmessage").html(`Passwords do not match`)
      $(".passmessage").css("color", "red") 
    }
  })
})
</script>


<% include partials/footer %>