<% include partials/header %>

<div class="formedits">
  <form action='/signup' method="POST">
    <p> Sign up and start blogging!</p>

      <div class="field">
        <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" name="firstName" required>
          </div>
      </div>

      <div class="field">
        <label class="label">
          Last Name
        </label>
        <div class="control">
            <input class="input" type="text" name="lastName">
          </div>
      </div>

      <div class="field">
        <label class="label">
          Username
        </label>
        <div class="control">
          <input id="targetusername" class="input" type="text" name="userName">
          <p class="usermessage" id="querymessage">Username must be eight characters or longer</p>
          <p id="message"><%= warningname %></p>
        </div>
      </div>

      <div class="field">
        <label class="label">
          Password
        </label>
        <div class="control">
          <input id="targetpassword" class="input" type="password" name="passWord">
        </div>
      </div>

      <div class="field">
        <label class="label">
          Confirm Password
        </label>
        <div class="control">
          <input id="targetconfirm" class="input" type="password" name="confirm">
          <p class="passmessage" id="querymessage"></p>
          <p id="passwarning"><%= warningpassword %></p>
        </div>
      </div>
      
      <div class="control">
          <button class="button is-link">
            Submit
          </button>
      </div>
      
      <p id="donthave"> Already have an account? <a href="/signin">Sign in!</a></p>
  
  </form>
</div>

<script>
$("#targetusername").keyup(function () {
	username = $(this).val();
  console.log(username)
  if (username.length < 8 ) {
    $(".usermessage").html(`${8 - username.length} to go!`) 
    $(".usermessage").css("color", "red")  
  } else if (username.length >=8) {
    $(".usermessage").html(`Username is long enough`) 
    $(".usermessage").css("color", "rgba(64, 38, 36, 0.6)")     
    }  
  })
</script>

<script>
$("#targetpassword").keyup(function () {
	password = $(this).val();
  $("#passwarning").html(``)
  console.log(`this is ${password}`)
  $("#targetconfirm").keyup(function () {
    confirm = $("#targetconfirm").val();
     console.log(`this is mpt ${confirm}`)
    if (password === confirm) {
      $(".passmessage").html(`Passwords match`)
      $(".passmessage").css("color", "rgba(64, 38, 36, 0.6)")
    }
    else if (password !== confirm) {
      $(".passmessage").html(`Passwords do not match`)
      $(".passmessage").css("color", "red") 
    }
  })
})
</script>


<% include partials/footer %>