<% include partials/header %>

<div class="formedits">
  <form action='/signup' method="POST">
    <p> Sign up and start blogging!</p>

      <div class="field">
        <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" name="firstName" required>
          </div>
      </div>

      <div class="field">
        <label class="label">
          Last Name
        </label>
        <div class="control">
            <input class="input" type="text" name="lastName">
          </div>
      </div>

      <div class="field">
        <label class="label">
          Username
        </label>
        <div class="control">
          <input id="target" class="input" type="text" name="userName">
          <p id="length">Username must be eight characters or longer</p>
          <p id="message"><%= warningname %></p>
        </div>
      </div>

      <div class="field">
        <label class="label">
          Password
        </label>
        <div class="control">
          <input class="input" type="password" name="passWord">
        </div>
      </div>
      
      <div class="control">
          <button class="button is-link">
            Submit
          </button>
      </div>
      
      <p id="donthave"> Already have an account? <a href="/signin">Sign in!</a></p>
  
  </form>
</div>

<script>
$("#target").keyup(function () {
	username = $(this).val();
  console.log(username)
  if (username.length < 8 ) {
    $("#length").html(`${8 - username.length} to go!`) 
    $("#length").css("color", "red")  
  } else if (username.length >=8) {
    $("#length").html(`Username is now long enough`) 
    $("#length").css("color", "rgba(64, 38, 36, 0.6)")     
    }  
  })
</script>

<% include partials/footer %>